@using Rozklad.Repository.Dto
@model IEnumerable<UserReadDto>

@{
}

<div class="float-end">
    <a href="/users/create" class="btn btn-outline-primary">Додати користувача</a>
</div>


<h1>Список користувачів</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Confirmed</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <td>@u.FirstName @u.LastName</td>
                <td>@u.Email</td>
                <td>@u.IsConfirmed</td>
                <td>
                    @string.Join(", ", u.Roles.Select(x=> x.Name))
                </td>
                <td>
                    <a href="/users/edit/@u.Id" class="btn btn-warning">Редагувати</a>
                    <a href="/users/delete/@u.Id" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>