@using Rozklad.Core
@using Rozklad.Repository
@using Rozklad.Repository.Dto.CabinetDto
@using Rozklad.Repository.Dto.ClassDto
@using Rozklad.Repository.Dto.DayDto
@using Rozklad.Repository.Dto.DisciplineDto
@using Rozklad.Repository.Dto.LessonDto
@using Rozklad.Repository.Dto.TimetableDto
@model IEnumerable<TimetableReadDto>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       
            @foreach (var u in Model)
            {
                <div class="card h-100">

                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">@u.Class.ClassName @u.Cabinet.Name @u.Day.DayName @u.Discipline.DisciplineName </h5>
                             @u.TimetableId $
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            }

        
    </div>
</div>


