@using Rozklad.Core
@using Rozklad.Repository.Dto.CabinetDto
@using Rozklad.Repository.Dto.ClassDto
@using Rozklad.Repository.Dto.DisciplineDto
@using Rozklad.Repository.Dto.PupilDto

@using Rozklad.Repository.Dto.TeacherDto
@using Rozklad.Repository.Dto.TimetableDto


@model TimetableCreateDto

@{
    var cabinet = ViewBag.Cabinets as IEnumerable<Cabinet>;
    var clas = ViewBag.Classes as IEnumerable<ClassRoom>;
    var discipline = ViewBag.Disciplines as IEnumerable<Discipline>;
    var lesson = ViewBag.Lessons as IEnumerable<Lesson>;
    var pupil = ViewBag.Pupils as IEnumerable<Pupil>;
    var teacher = ViewBag.Teachers as IEnumerable<Teacher>;
    Layout = "/Views/Shared/_DashminBlankLayout.cshtml";
    
}

<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
    <form asp-action="AddRozklad" class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="CabinetName" class="control-label">Кабінет</label>
            <select asp-for="CabinetName" name="cabinetName" id="cabinetName" class="form-select" required>
                <option selected disabled>Choose...</option>
                @foreach (var u in cabinet)
                {
                    <option value="@u.CabinetName">@u.CabinetName</option>
                }
            </select>
            <span asp-validation-for="CabinetName" class="text-danger"></span>
        </div>

   <div class="form-group">
            <label asp-for="DisciplineName" class="control-label">Дисципліна</label>
            <select asp-for="DisciplineName" name="disciplineName" id="disciplineName" class="form-select" required>
                <option selected disabled>Choose...</option>

                @foreach (var u in lesson)
                {
                    <option value="@u.Discipline.DisciplineName">@u.Discipline.DisciplineName</option>
                }
            </select>
            <span asp-validation-for="DisciplineName" class="text-danger"></span>
        </div>
       

       

        <div class="form-group">
            <label asp-for="TeacherName" class="control-label">Вчитель</label>
            <select asp-for="TeacherName" name="teacherName" id="teacherName" class="form-select" required>
                <option selected disabled>Choose...</option>

                @foreach (var u in lesson)
                {
                    <option value="@u.Teacher.TeacherName">@u.Teacher.TeacherName</option>
                }
            </select>
            <span asp-validation-for="TeacherName" class="text-danger"></span>
        </div>

         <div class="form-group">
            <label asp-for="PupilName" class="control-label">Учень</label>
            <select asp-for="PupilName" name="pupilName" id="pupilName" class="form-select" required>
                <option selected disabled>Choose...</option>

                @foreach (var u in pupil)
                {
                    <option value="@u.PupilName">@u.PupilName</option>
                }
            </select>
            <span asp-validation-for="PupilName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ClassRoomName" class="control-label">Клас</label>
            <select asp-for="ClassRoomName" name="classRoomName" id="classRoomName" class="form-select" required>
                <option selected disabled>Choose...</option>

                @foreach (var u in pupil)
                {
                    <option value="@u.ClassRoom.ClassRoomName">@u.ClassRoom.ClassRoomName</option>
                }
            </select>
            <span asp-validation-for="ClassRoomName" class="text-danger"></span>
        </div>

        
        

        <div class="form-group">
            <label asp-for="LessonNumber" class="control-label">Номер уроку</label>
            <input asp-for="LessonNumber" class="form-control" />
            <span asp-validation-for="LessonNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Day" class="control-label">День</label>
            <input asp-for="Day" class="form-control" />
            <span asp-validation-for="Day" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TimeStart" class="control-label">Початок уроку</label>
            <input asp-for="TimeStart" class="form-control" />
            <span asp-validation-for="TimeStart" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TimeEnd" class="control-label">Закінчення уроку</label>
            <input asp-for="TimeEnd" class="form-control" />
            <span asp-validation-for="TimeEnd" class="text-danger"></span>
        </div>
      
       
        <hr />

        <div class="form-group">
            <button value="Create" va class="btn btn-primary" type="submit">Додати розклад</button>
        </div>
    </form>
</div>



@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $(".form-select").select2();
        });
    </script>
}
